<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.xafve.lego-android-transport" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lego Transport</name>
    <description>
        Android bluetooth controller for adruino/lego project..
    </description>
    <author email="xavier.vanelsacker@gmail.com" href="https://github.com/xafve/lego-android-transport">
        Xafve
    </author>

    <plugin name="cordova-plugin-bluetooth-serial" />

    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~5.1.1" />
</widget>
